/* FONTS */
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans.woff2') format('woff2'),
        url('../fonts/NotoSans.woff') format('woff'),
        url('../fonts/NotoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Regular.woff2') format('woff2'),
        url('../fonts/DancingScript-Regular.woff') format('woff'),
        url('../fonts/DancingScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans_1.woff2') format('woff2'),
        url('../fonts/NotoSans_1.woff') format('woff'),
        url('../fonts/NotoSans_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff'),
        url('../fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff'),
        url('../fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* GENERAL */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

 *,
 *::before,
 *::after {
  box-sizing: inherit;
}

 body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

 img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

.container-fluid {
    padding: 0px 40px 0px 25px;
    /* max-width: 1259px; */
}

/* STYLE */
.site-header {
    padding: 14px 0px 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    z-index: 400;
    margin-top: -73px;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site__logo {
    display: flex;
    align-items: center;
}

.site__link {
    text-decoration: none;
}

.site__logo-img {
    margin-right: 16px;
}

.site__logo-heading {
    font-family: 'Dancing Script';
    font-size: 36px;
    line-height: 43px;
}

.site__search-input {
    background: #f2f3f5;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: none;
    padding: 15px 16px;

    font-family: 'Rubik';
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.64);
    width: 670px;
    margin-left: 150px;
}

.site__search-input:focus {
    outline: none;
}

.site__logout {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.site-dark__btn {
    margin-right: 15px;
}

.site-logout__btn {
    padding: 10px 23px;
    border-radius: 4px;
}

/* SITE HERO */
.books {
    background-color: #F8FAFD;
}

.site__hero {
    padding: 11px 0px;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.book__order {
    background: #A6B0C3;
    border-radius: 4px;
    color: white;
}

.book__result {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #222531;
}

/* Site left bookmark */
.bookmark {
    padding: 25px 45px 25px 25px;
    background-color: white;
}

.bookmark__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
}

.bookmark__desc {
    font-size: 13px;
    line-height: 18px;
    color: #757881;
}

.bookmark__heading {
    font-size: 24px;
    line-height: 28px;
}

.bookmark__paragraph {
    font-size: 14px;
    line-height: 155.6%;
    width: 218px;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 14px;
    line-height: 155.6%;
    color: #000000;
}

.bookmark__item {
    margin-bottom: 15px;
    background: #F8FAFD;
    border-radius: 4px;
    padding: 20px 10px;
}


/* BOOK CARDS */
.books {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.book__cards{
    padding: 40px 10px 40px 40px;
}

.card {
    width: 21rem;
    padding: 13px 15px;
    margin-bottom: 33px;
    position: relative;
}

.card__imgs {
    background-color: #F8FAFD;
    padding: 18px 28px 18px 20px;
    text-align: center;
    margin-bottom: 20px;
}

.card__img {
    height: 202px;
    margin: 0 auto;
}

.card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    margin-bottom: 2px;
}

.card-desc, .card-year {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #757881;
    margin: 0;
}

.card-year {
    margin-bottom: 20px;
}

.bookmark-add__btn {
    background: #FFD80D;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 0;
}

.bookmark-more__btn {
    background: rgba(13, 117, 255, 0.05);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #0D75FF;
    padding: 10px 0;
}

.book-read__btn {
    background: #75828A;
    border-radius: 4px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 10px 0;
}

.toast-header, .toast-body {
    background-color: rgb(196, 14, 14);
    color: rgb(255, 255, 0);
}

/* Pagination */
.pagination {
    max-width: 600px;
    overflow: auto;
}

.pagination__btn{
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    border: 2px solid black;
}

.pagination__btn:active {
    background-color: #858585;
}

.btn-pagination {
    padding: 5px 15px;
    border: none;
    background-color: #5f5f5e;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

/* LOGIN */
.login__body {
    background-image: url("../img/Login.jpg");
}

.login {
    max-width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__header {
    margin-bottom: 50px;
}

.login__input {
    width: 300px;
    height: 45px;
    background: none;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    margin-bottom: 20px;
}

.login__input:nth-child(2) {
    margin-bottom: 43px;
}

.login__input:focus {
    outline: none;
}

.login__btn {
    width: 300px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    color: #0D75FF;
    padding: 13px 0;
}

.login__links {
    width: 300px;
    margin: 0 auto;
}

.login__link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.disabled {
    opacity: 0.4;
}

/* MODAL */
.modal {
    background-color: #F8FAFD;
    width: 450px;
    position: absolute;
    left: 100%;
    z-index: 1000;
    animation: animation 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.modal__title {
    padding: 25px 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #222531;
    background-color: #eee4e4;
}

.modal-book__about {
    padding: 0px 30px;
}

.modal__img {
    margin: 44px 0px 51px;
    text-align: center;
    max-height: 230px;
}

.modal__desc {
    font-weight: normal;
    font-size: 13px;
    line-height: 170.3%;
    color: #58667E;
    margin-bottom: 30px;
}

.modal-body__elements {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #222531;
    align-items: center;

}

.modal__abouts {
    background: rgba(13, 117, 255, 0.09);
    border-radius: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #0D75FF;
    padding: 5px 17px;
    margin-left: 15px;
}

.modal__author {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.modal__read {
    background: #75828A;
    border-radius: 4px;
    padding: 9px 38px;
    color: white;
    /* position: absolute; */
    bottom: 10px;
    left: auto;
}

@keyframes animation {
    0%{
        left: 100%;
    }
    100% {
        left: 100%;
        transform: translate(-100%);
    }
}

.opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 500;
}

.none {
    display: none;
}

.block {
    display: block;
}


.darkmode-layer, .darkmode-toggle {
    z-index: 500;
}

.bookmark__item {
    box-shadow: #eee4e4;
    border: 2px solid white;
}

.error {
    position: relative;
    z-index: 1000;
}